<!DOCTYPE html>
  <!DOCTYPE html>
  <html lang="zxx" class="no-js">
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="<%= URL_ROOT_PATH %>/static/js/gtag.id.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=" + GTAG_ID></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', GTAG_ID);
</script>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="<%= URL_ROOT_PATH %>/static/img/fav.png?v=2">
    <!-- Author Meta -->
    <meta name="author" content="ibdo.foxconn.com">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>人工智慧 互動平台(自然語言處理)</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
      <!--
      CSS
      ============================================= -->
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/linearicons.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/font-awesome.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/bootstrap.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/magnific-popup.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/nice-select.css">  
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/hexagons.min.css">              
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/animate.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/owl.carousel.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/rnn.css">
    </head>
    <body>  
        <header id="header" id="home">
          <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
              <div id="logo">
                <a href="<%= URL_ROOT_PATH %>"><img src="<%= URL_ROOT_PATH %>/static/img/aiix.logo.png" alt="" title="" /></a>
              </div>
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">首頁</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/cnn/vgg19/cifar10/home/index">圖像辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/rnn/lstm/5455945/home/index">自然語言處理</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/gan/stylegan/ffhq/home/index">創作 AI</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/audio/index">語音辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/discover/index">知識發現</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">聯絡我們</a></li>
                </ul>
              </nav><!-- #nav-menu-container -->            
            </div>
          </div>
        </header><!-- #header -->

      <!-- start banner Area -->
      <section class="banner-area relative" id="home">  
        <div class="overlay overlay-bg"></div>
        <div class="container">        
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1>
              自然語言處理        
              </h1>  
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->

      <!-- Start about-video Area -->
      <section class="about-video-area section-gap">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
              <!-- <h6 class="text-uppercase">上標口號</h6> -->
              <h1>字裡行間的秘密：自然語言處理</h1>
              <!--<p> <span>副標說明</span> </p>-->
              <p>
自然語言指的是人類語言，而自然語言處理(Natural Language Processing，簡稱NLP)則是人工智慧系統的核心技術之一，指的是探討人類語言的分析與生成，終極目標是電腦與使用者直接以人的語言互動。除了智慧問答系統、機器翻譯系統等應用外，輿情分析、病歷探勘、金融科技、健康照護、法律諮詢、烹飪教學等都有自然語言處理的影子。

請大家藉由範例或者是自行輸入四個單字來發現自然語言(NLP)中所隱藏的特級資訊吧! 
              </p>
            </div>
            <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
              <div class="overlay overlay-bg"></div>
              <a><img class="img-fluid mx-auto" src="<%= URL_ROOT_PATH %>/static/img/covers/lstm.png" alt=""></a>
            </div>
          </div>
        </div>  
      </section>
      <!-- End about-video Area -->      

      <!-- Start predict Area -->
      <section class="predict-area section-gap">
        <div class="container">
          <div class="row chinese-text-row">
            <input class="chinese-text-input" type="text" value="人" size=1 />
            <span>人間不見夢中看，欲出升寒罷惠青。</span>
          </div>
          <div class="row chinese-text-row">
            <input class="chinese-text-input" type="text" value="工" size=1 />
            <span>工妻六載又餘時，西嶺離離竹壓根。</span>
          </div>
          <div class="row chinese-text-row">
            <input class="chinese-text-input" type="text" value="智" size=1 />
            <span>智藥寧出長湘水，松筠紅粉倒金孫。</span>
          </div>
          <div class="row chinese-text-row">
            <input class="chinese-text-input" type="text" value="慧" size=1 />
            <span>慧中朱旆傳風雨，門客春晴似火龍。</span>
          </div>
          <a id="action-write" class="genric-btn success-border circle arrow">創作<span class="lnr lnr-arrow-right"></span></a>
        </div>
      </section>
      <a id="pagetype" hidden><%= pagetype %></a>
      <a id="pageparam" hidden><%= pageparam %></a>
      <!-- End predict Are -->


      <!-- start footer Area -->    
      <footer class="footer-area">
        <div class="container">
          <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Foxconn &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </footer>
      <!-- End footer Area -->  

      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/jquery-2.2.4.min.js"></script>
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/bootstrap.min.js"></script>      
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/superfish.min.js"></script>  
      <script src="<%= URL_ROOT_PATH %>/static/js/rnn/main.js"></script>  
      <script src="<%= URL_ROOT_PATH %>/static/js/rnn/action.js"></script>  
    </body>
  </html>




