<!DOCTYPE html>
  <!DOCTYPE html>
  <html lang="zxx" class="no-js">
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="<%= URL_ROOT_PATH %>/static/js/gtag.id.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=" + GTAG_ID></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', GTAG_ID);
</script>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="<%= URL_ROOT_PATH %>/static/img/fav.png?v=2">
    <!-- Author Meta -->
    <meta name="author" content="ibdo.foxconn.com">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>人工智慧 互動平台(知識發現)</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
      <!--
      CSS
      ============================================= -->
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/linearicons.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/font-awesome.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/bootstrap.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/magnific-popup.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/nice-select.css">  
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/hexagons.min.css">              
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/animate.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/owl.carousel.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/discover.css">
    </head>
    <body>  
        <header id="header" id="home">
          <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
              <div id="logo">
                <a href="<%= URL_ROOT_PATH %>"><img src="<%= URL_ROOT_PATH %>/static/img/aiix.logo.png" alt="" title="" /></a>
              </div>
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">首頁</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/cnn/vgg19/cifar10/home/index">圖像辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/rnn/lstm/5455945/home/index">自然語言處理</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/gan/stylegan/ffhq/home/index">創作 AI</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/audio/index">語音辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/discover/index">知識發現</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">聯絡我們</a></li>
                </ul>
              </nav><!-- #nav-menu-container -->            
            </div>
          </div>
        </header><!-- #header -->

      <!-- start banner Area -->
      <section class="banner-area relative" id="home">  
        <div class="overlay overlay-bg"></div>
        <div class="container">        
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1>知識發現</h1>  
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->

      <!-- Start about-video Area -->
      <section class="about-video-area section-gap">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
              <!-- <h6 class="text-uppercase">上標口號</h6> -->
              <h1>發現潛規則：知識發現</h1>
              <!--<p> <span>副標說明</span> </p>-->
              <p>

知識發現（knowledge discovery）就是從大量資料中，找出過去未知且潛在的有用知識，並善用這些知識，便能在各領域實現各種智慧性的應用。因此，知識發現與人工智慧有著密不可分的關係。知識發現與挖掘的過程包含以下的流程步驟：資料篩選（data selection）、資料預處理（data preprocessing）、 資料轉換（data transformation）、資料挖掘（data mining）、知識評估（knowledge evaluation）。經由以下幾個網站，由視覺化的互動方式，讓我們更容易了解這幾種技術！
</p>
            </div>
            <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
              <div class="overlay overlay-bg"></div>
              <a><img class="img-fluid mx-auto" src="<%= URL_ROOT_PATH %>/static/img/covers/discover.png" alt=""></a>
            </div>
          </div>
        </div>  
      </section>
      <!-- End about-video Area -->      

      <!-- Start explain Area -->
      <section class="explain-area section-gap">
        <div class="container">
          <div class="row examples">
            <h3>r2d3 是一個視覺化呈現機器學習的網站，網站上有關於 "決策樹" 相當完整的介紹。</h3>
            <a href="http://www.r2d3.us/%E5%9C%96%E8%A7%A3%E6%A9%9F%E5%99%A8%E5%AD%B8%E7%BF%92%E7%AC%AC%E4%B8%80%E7%AB%A0/" target="_blank">前往網站(中文)</a>
          </div>
          <hr />
          <div class="row examples">
            <h3>dash-svm 是一個非常專業的 SVM 參數視覺化網站，調整參數可以觀察 SVM 執行的結果。</h3>
            <a href="https://dash-gallery.plotly.host/dash-svm/" target="_blank">前往網站(英文)</a>
          </div>
          <hr />
          <div class="row examples">
            <h3>這篇部落格網頁最下方有互動小程式可以創建數據點(plus/minus 兩類)，來觀察 SVM。</h3>
            <a href="http://www.cristiandima.com/basics-of-support-vector-machines/" target="_blank">前往網站(英文)</a>&nbsp;by Cristian Dima
          </div>
          <hr />
          <div class="row examples">
            <h3>這個史丹佛大學的網頁會隨機亂數產生數據，讓我們觀察 K-means 執行的結果。</h3>
            <a href="http://stanford.edu/class/ee103/visualizations/kmeans/kmeans.html" target="_blank">前往網站(英文)</a>
          </div>
        </div>
      </section>
      <!-- End explain Are -->


      <!-- start footer Area -->    
      <footer class="footer-area">
        <div class="container">
          <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Foxconn &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </footer>
      <!-- End footer Area -->  

      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/jquery-2.2.4.min.js"></script>
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/bootstrap.min.js"></script>      
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/superfish.min.js"></script>  
      <script src="<%= URL_ROOT_PATH %>/static/js/discover/main.js"></script>  
    </body>
  </html>




