<!DOCTYPE html>
  <!DOCTYPE html>
  <html lang="zxx" class="no-js">
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="<%= URL_ROOT_PATH %>/static/js/gtag.id.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=" + GTAG_ID></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', GTAG_ID);
</script>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="<%= URL_ROOT_PATH %>/static/img/fav.png?v=2">
    <!-- Author Meta -->
    <meta name="author" content="ibdo.foxconn.com">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>人工智慧 互動平台(語音辨識)</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
      <!--
      CSS
      ============================================= -->
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/linearicons.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/font-awesome.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/bootstrap.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/magnific-popup.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/nice-select.css">  
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/hexagons.min.css">              
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/animate.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/owl.carousel.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/audio.css">
    </head>
    <body>  
        <header id="header" id="home">
          <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
              <div id="logo">
                <a href="<%= URL_ROOT_PATH %>"><img src="<%= URL_ROOT_PATH %>/static/img/aiix.logo.png" alt="" title="" /></a>
              </div>
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">首頁</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/cnn/vgg19/cifar10/home/index">圖像辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/rnn/lstm/5455945/home/index">自然語言處理</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/gan/stylegan/ffhq/home/index">創作 AI</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/audio/index">語音辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/discover/index">知識發現</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">聯絡我們</a></li>
                </ul>
              </nav><!-- #nav-menu-container -->            
            </div>
          </div>
        </header><!-- #header -->

      <!-- start banner Area -->
      <section class="banner-area relative" id="home">  
        <div class="overlay overlay-bg"></div>
        <div class="container">        
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1>
              語音辨識        
              </h1>  
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->

      <!-- Start about-video Area -->
      <section class="about-video-area section-gap">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
              <!-- <h6 class="text-uppercase">上標口號</h6> -->
              <h1>洗耳恭聽的時代：語音識別</h1>
              <!--<p> <span>副標說明</span> </p>-->
              <p>
電腦聽到我們的聲音並進行分析，同時，經由持續的互動來知道我們的意圖，這就是「語音識別」，而現今的應用則是有蘋果手機的Siri、Amazon的Alex智慧音箱，以及Google Home語音助理等。 哼唱選歌（Query By Singing/Humming，簡稱 QBSH) 希望能夠找到整段歌聲基本頻率隨時間而變的向量（稱為音高向量），根據這個向量，才能和資料庫中的歌曲進行比對，找出最相似的歌曲以讓電腦幫忙辨識出來這是哪一首歌。請大家藉由範例或者是唱一小段歌曲來體會一下語音識別的強大功能吧!
</p>
            </div>
            <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
              <div class="overlay overlay-bg"></div>
              <a><img class="img-fluid mx-auto" src="<%= URL_ROOT_PATH %>/static/img/covers/audio.png" alt=""></a>
            </div>
          </div>
        </div>  
      </section>
      <!-- End about-video Area -->      

      <!-- Start explain Area -->
      <section class="explain-area section-gap">
        <div class="container">

          <div class="row acknowledgement">
            <h3>在此感謝，國立台灣大學資訊工程學系<a href="https://www.csie.ntu.edu.tw/people/bio.php?PID=154" target="_blank">張智星教授</a>以及<a href="http://mirlab.org/" target="_blank">多媒體資訊檢索實驗室</a>成員的協助。</h3>
          </div>

          <div class="row link-out">
            <h1><a href="https://dwave.cc/demo/miracle" target="_blank">前往體驗網站</a></h1>
          </div>
          <div class="row case_explain">
            <h3>使用操作一：使用範例檔案</h3>
            <img src="<%= URL_ROOT_PATH %>/static/img/audio/case_1.gif" />
          </div>
          <div class="row case_explain">
            <h3>使用操作二：自己唱</h3>
            <img src="<%= URL_ROOT_PATH %>/static/img/audio/case_2.gif" />
          </div>


        </div>
      </section>
      <!-- End explain Are -->


      <!-- start footer Area -->    
      <footer class="footer-area">
        <div class="container">
          <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Foxconn &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </footer>
      <!-- End footer Area -->  

      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/jquery-2.2.4.min.js"></script>
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/bootstrap.min.js"></script>      
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/superfish.min.js"></script>  
      <script src="<%= URL_ROOT_PATH %>/static/js/audio/main.js"></script>  
    </body>
  </html>




