<!DOCTYPE html>
	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="<%= URL_ROOT_PATH %>/static/js/gtag.id.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=" + GTAG_ID></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', GTAG_ID);
</script>

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="<%= URL_ROOT_PATH %>/static/img/fav.png?v=2">
		<!-- Author Meta -->
		<meta name="author" content="ibdo.foxconn.com">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>人工智慧 互動平台</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/linearicons.css">
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/font-awesome.min.css">
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/bootstrap.css">
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/magnific-popup.css">
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/nice-select.css">	
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/hexagons.min.css">							
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/animate.min.css">
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/owl.carousel.css">
			<link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/main.css">
		</head>
		<body>	
			  <header id="header" id="home">
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="<%= URL_ROOT_PATH %>/"><img src="<%= URL_ROOT_PATH %>/static/img/aiix.logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/">首頁</a></li>
				          <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/cnn/vgg19/cifar10/home/index">圖像辨識</a></li>
				          <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/rnn/lstm/5455945/home/index">自然語言處理</a></li>
                                          <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/gan/stylegan/ffhq/home/index">創作 AI</a></li>
                                          <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/audio/index">語音辨識</a></li>
                                          <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/discover/index">知識發現</a></li>
				          <li class="menu-active"><a href="https://www.facebook.com/foxconnai/" target="_blank">聯絡我們</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-6 col-md-6">
							<h1>
								人工智慧&nbsp;互動平台 <br>
							</h1>
							<p class="text-white text-uppercase">
							鴻海人工智慧導論
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start products Area -->
			<section class="products-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-40 header-text text-center">
							<h1 class="pb-10">輕鬆體驗人工智慧各種基礎應用</h1>
							<p>
							各種技術原理說明請見人工智慧導論
							</p>
						</div>
					</div>							
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<div class="thumb" id="single-product-1">
									<img src="<%= URL_ROOT_PATH %>/static/img/covers/cnn.png" alt="">
								</div>
								<div class="details">
									<h4>看圖說故事：圖像識別</h4>
									<p>
“A picture is worth a thousand words.”（一畫勝千言）即是圖像識別的形容，而圖形識別指的是透過電腦自動地對所取得的影像進行分析和學習，辨識圖像中的物件，並理解其內容，藉此讓電腦能夠變得更智慧化，使得人類的生活能夠更豐富、更便利、更安全。相關的應用則是有自動影像處理、圖片網以及影片網、企業資料庫、互動式行銷等。
 
請大家藉由範例或者是上傳一張符合以下類別的圖片來體驗一下圖像識別的魅力所在吧!!
</p>
									<a href="<%= URL_ROOT_PATH %>/cnn/vgg19/cifar10/home/index" class="primary-btn text-uppercase">體驗</a>
								</div>
							</div>
						</div>	
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<div class="thumb" id="single-product-2">
									<img src="<%= URL_ROOT_PATH %>/static/img/covers/lstm.png" alt="">
								</div>
								<div class="details">
									<h4>字裡行間的秘密：自然語言處理</h4>
									<p>
自然語言指的是人類語言，而自然語言處理(Natural Language Processing，簡稱NLP)則是人工智慧系統的核心技術之一，指的是探討人類語言的分析與生成，終極目標是電腦與使用者直接以人的語言互動。除了智慧問答系統、機器翻譯系統等應用外，輿情分析、病歷探勘、金融科技、健康照護、法律諮詢、烹飪教學等都有自然語言處理的影子。

請大家藉由範例或者是自行輸入四個單字來發現自然語言(NLP)中所隱藏的特級資訊吧! 
</p>
									<a href="<%= URL_ROOT_PATH %>/rnn/lstm/5455945/home/index" class="primary-btn text-uppercase">體驗</a>
								</div>
							</div>
						</div>	
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<div class="thumb" id="single-product-3">
									<img src="<%= URL_ROOT_PATH %>/static/img/covers/gan.png" alt="">
								</div>
								<div class="details">
									<h4>源源不絕的創造力：創作AI </h4>
									<p>
生成模型的目標是「創作」，經由調控給定的條件資訊數值，讓類神經網路產生對應的結果，條件資訊的強度也會造成生成結果對應條件的反應程度以藉此產生出訓練資料中沒有出現過的資料。而現今在機器學習領域中最火紅的生成模型「生成對抗網路」(Generative Adversarial Network，簡稱GAN)，能夠生成幾可亂真的資料。

請大家藉由不同數字的調控，動手操作看看當今最HOT的生成對抗網路(GAN)以找出圖片中的所隱藏的秘密吧~
</p>
									<a href="<%= URL_ROOT_PATH %>/gan/stylegan/ffhq/home/index" class="primary-btn text-uppercase">體驗</a>
								</div>
							</div>
						</div>	
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<div class="thumb" id="single-product-3">
									<img src="<%= URL_ROOT_PATH %>/static/img/covers/audio.png" alt="">
								</div>
								<div class="details">
									<h4>洗耳恭聽的時代：語音識別</h4>
									<p>
電腦聽到我們的聲音並進行分析，同時，經由持續的互動來知道我們的意圖，這就是「語音識別」，而現今的應用則是有蘋果手機的Siri、Amazon的Alex智慧音箱，以及Google Home語音助理等。

哼唱選歌（Query By Singing/Humming，簡稱 QBSH) 希望能夠找到整段歌聲基本頻率隨時間而變的向量（稱為音高向量），根據這個向量，才能和資料庫中的歌曲進行比對，找出最相似的歌曲以讓電腦幫忙辨識出來這是哪一首歌。請大家藉由範例或者是唱一小段歌曲來體會一下語音識別的強大功能吧!
</p>
									<a href="<%= URL_ROOT_PATH %>/audio/index" class="primary-btn text-uppercase">體驗</a>
								</div>
							</div>
						</div>	
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<div class="thumb" id="single-product-3">
									<img src="<%= URL_ROOT_PATH %>/static/img/covers/discover.png" alt="">
								</div>
								<div class="details">
									<h4>發現潛規則：知識發現</h4>
									<p>
知識發現（knowledge discovery）就是從大量資料中，找出過去未知且潛在的有用知識，並善用這些知識，便能在各領域實現各種智慧性的應用。因此，知識發現與人工智慧有著密不可分的關係。知識發現與挖掘的過程包含以下的流程步驟：資料篩選（data selection）、資料預處理（data preprocessing）、 資料轉換（data transformation）、資料挖掘（data mining）、知識評估（knowledge evaluation）。經由以下幾個網站，由視覺化的互動方式，讓我們更容易了解這幾種技術！
</p>
									<a href="<%= URL_ROOT_PATH %>/discover/index" class="primary-btn text-uppercase">體驗</a>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</section>
			<!-- End products Area -->


			<!-- start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Foxconn &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script src="<%= URL_ROOT_PATH %>/static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="<%= URL_ROOT_PATH %>/static/js/vendor/bootstrap.min.js"></script>			
			<script src="<%= URL_ROOT_PATH %>/static/js/vendor/superfish.min.js"></script>	
			<script src="<%= URL_ROOT_PATH %>/static/js/index/main.js"></script>	
		</body>
	</html>




