<!DOCTYPE html>
  <!DOCTYPE html>
  <html lang="zxx" class="no-js">
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="<%= URL_ROOT_PATH %>/static/js/gtag.id.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=" + GTAG_ID></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // gtag('config', GTAG_ID);
</script>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="<%= URL_ROOT_PATH %>/static/img/fav.png?v=2">
    <!-- Author Meta -->
    <meta name="author" content="ibdo.foxconn.com">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>人工智慧 互動平台(圖像辨識)</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
      <!--
      CSS
      ============================================= -->
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/linearicons.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/font-awesome.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/bootstrap.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/magnific-popup.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/nice-select.css">  
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/hexagons.min.css">              
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/animate.min.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/owl.carousel.css">
      <link rel="stylesheet" href="<%= URL_ROOT_PATH %>/static/css/cnn.css">
    </head>
    <body>  
        <header id="header" id="home">
          <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
              <div id="logo">
                <a href="<%= URL_ROOT_PATH %>"><img src="<%= URL_ROOT_PATH %>/static/img/aiix.logo.png" alt="" title="" /></a>
              </div>
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">首頁</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/cnn/vgg19/cifar10/home/index">圖像辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/rnn/lstm/5455945/home/index">自然語言處理</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/gan/stylegan/ffhq/home/index">創作 AI</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/audio/index">語音辨識</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>/discover/index">知識發現</a></li>
                  <li class="menu-active"><a href="<%= URL_ROOT_PATH %>">聯絡我們</a></li>
                </ul>
              </nav><!-- #nav-menu-container -->            
            </div>
          </div>
        </header><!-- #header -->

      <!-- start banner Area -->
      <section class="banner-area relative" id="home">  
        <div class="overlay overlay-bg"></div>
        <div class="container">        
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
              <h1>
              圖像辨識        
              </h1>  
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->

      <!-- Start about-video Area -->
      <section class="about-video-area section-gap">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
              <!-- <h6 class="text-uppercase">上標口號</h6> -->
              <h1>看圖說故事：圖像識別</h1>
              <!--<p> <span>副標說明</span> </p>-->
              <p>
“A picture is worth a thousand words.”（一畫勝千言）即是圖像識別的形容，而圖形識別指的是透過電腦自動地對所取得的影像進行分析和學習，辨識圖像中的物件，並理解其內容，藉此讓電腦能夠變得更智慧化，使得人類的生活能夠更豐富、更便利、更安全。相關的應用則是有自動影像處理、圖片網以及影片網、企業資料庫、互動式行銷等。
 
請大家藉由範例或者是上傳一張符合以下類別的圖片來體驗一下圖像識別的魅力所在吧!!
              </p>
            </div>
            <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
              <div class="overlay overlay-bg"></div>
              <a><img class="img-fluid mx-auto" src="<%= URL_ROOT_PATH %>/static/img/covers/cnn.png" alt=""></a>
            </div>
          </div>
        </div>  
      </section>
      <!-- End about-video Area -->      

      <!-- Start predict Area -->
      <section class="predict-area section-gap">
        <div class="container">
          <div class="row">
            <div class="predict-area-left col-lg-6">
              <div>
                <h1>
                  範例圖片
                </h1>
                <div class="thumb">
                  <img class="img-fluid" src="" alt="" id='action-target-img'>
                </div>
                <div>
                  <ul class="instafeed d-flex flex-wrap">
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                    <li><img src="" alt="" index="" class='action-example-img'></li>
                  </ul>
                </div>
              </div>
              <br />
              <a id="action-upload" class="genric-btn success-border circle arrow">上傳<span class="lnr lnr-arrow-right"></span></a>
檔案大小上限 2Mb
              <input type=file name='image' hidden/>
            </div>
            <div class="predict-area-right col-lg-6">
              <div>
                <h1>
                辨識結果  
                </h1>
                <div class="predict-area-result">
                  <a><span id='action-target-text'>結果</span></a><p>相似度: <span id='action-target-result'>0</span>%</p>
                </div>
                <div>
                  <ul class="instafeed d-flex flex-wrap">
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/airplane.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/automobile.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/bird.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/cat.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/deer.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/dog.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/frog.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/horse.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/ship.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                    <li><img src="<%= URL_ROOT_PATH %>/static/img/animal-icon/truck.png" alt=""><a><span class='action-predict-result'>0</span>%</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <a id="pagetype" hidden><%= pagetype %></a>
      <a id="pageparam" hidden><%= pageparam %></a>
      <!-- End predict Are -->


      <!-- start footer Area -->    
      <footer class="footer-area">
        <div class="container">
          <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Foxconn &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </footer>
      <!-- End footer Area -->  

      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/jquery-2.2.4.min.js"></script>
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/bootstrap.min.js"></script>      
      <script src="<%= URL_ROOT_PATH %>/static/js/vendor/superfish.min.js"></script>  
      <script src="<%= URL_ROOT_PATH %>/static/js/cnn/main.js"></script>  
      <script src="<%= URL_ROOT_PATH %>/static/js/cnn/action.js"></script>  
    </body>
  </html>




